* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenitore {
    background-color: #fff;
    width: 50%;
    margin: auto;
}

#first-title, .title-secondari {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#first-title {
    margin-top: 10px;
    color: blue;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.title-secondari {
    color: #27408B;
}

.spazi-li {
    margin-bottom: 5px;
}

.lista.skills ul li{
    text-align: center;
    font-weight: bold;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid orange;
}

.lista.skills ul li, .lista.spiegazione ul li{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}

#footer {
    text-align: center;
    font-family: 'Redressed', cursive;
}
